 

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

li {
    float: left;
}

li a {
    display: block;
    color: #587f16;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
 background:white;
 }
 